.App, #root, body {
  height: 100vh;
  margin: 0;
}

.bgimg {
  background-image: url('./images/background2.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
}

.topleft {
  background: url('./images/logo.png');
  position: absolute;
  top: 10%;
  left: 42%;
  background-repeat:no-repeat;
  background-size:100% 100%;
  display: block;
  min-height: 15vh;
  min-width: 15%;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(55,52,54);
  font-family: Serif;
  width: 45%;
}
@media only screen and (max-width: 600px) {
  .middle {
    width: 90%;
    top: 49%;
  }
  h1 {
    font-size: 1.4em;
  }
  .topleft {
    min-width: 50vw;
    left: 26vw;
  }
}

.link {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-family: Serif;
  margin-bottom: 1%;
}
hr {
  margin-top: 5%;
  width: 40%;
}